body{
	margin:0px;
	padding:0px;
	font-family:calibri;
}

.topBar{
	text-align:left;
	color:white;
	font-size:35px;
	background-color:black;	
	padding-bottom:10px;
}

.searchFunction{
	position:relative;
	float:right;
	margin-right:10px;
}

.search{
	width:150px;
}

.topSection{
	height:200px;
	text-align:center;
}

.dropBox{
	height:177px;
	width:25%;
	border-radius:5px;
	font-size:25px;
	text-align:center;
	background-color: #E8E8E8;
	display:inline-block;
	margin-top:15px;
}

.infoSec, .textSec{
	float:left;
	font-size:24px;
	margin-left:10px;
	border:solid;
	width:35%;
	height:175px;
	border-width:1px;
	border-radius:5px;
	margin-top:15px;
}

.textHead{
	text-align:center;
	font-size:32px;
	margin-bottom:10px;
}

.result{
	font-size:25px;
	text-align:center;
}

.instruction{
	text-align:center;
	margin-top:20px;
}

.containMap {
	margin: 10px 0px 50px 0px;
	display: flex;
	justify-content: center;
}

.demoMap{
	width:90%;
	height:750px;
	border:solid;
	border-radius: 10px;
}


@media(max-width: 1000px){	
	.dropBox{
		font-size:20px;
		width:98%;
	}

	.infoSec,.textSec{
		font-size:20px;
		width:48%;
		margin-left:10px;
	}
		
	.topSection{
		margin-bottom:150px;
	}	

	.search{
		width:100px;
	}
}

@media(max-width: 700px){	

	.infoSec,.textSec{
		width:98%;
		margin-left:0px;
	}

	.searchFunction{
		width:100%;
		float:left;
		background-color:#8FD8D8;
		margin-left:0px;
	}
}