body{
	margin:0px;
	padding:0px;
	font-family:calibri;
}

.header{
	width:100%;
	text-align:left;
	color:white;
	font-size:35px;
	background-color:black;	
	margin:0px 0px 20px 0px;
	padding-bottom:10px;
}

.topSection{
	height:200px;
}

.dropBox{
	position:relative;
	float:left;
	height:175px;
	width:25%;
	margin-top:10px;
	margin-left: 10px;
	border:dashed;
	border-width: 3px;
	border-radius: 5px;
	font-size:25px;
	text-align:center;
	background-color: #E8E8E8;
}

.infoSec, .textSec{
	position:relative;
	float:left;
	margin-top:10px;
	font-size:24px;
	margin-left:10px;
	border:solid;
	width:35%;
	height:175px;
	border-width:1px;
	border-radius: 5px;
}

.result{
	font-size:25px;
	text-align:center;
}

.instr{
	text-align:center;
	font-size:18px;
}

.containMap {
	margin-bottom:50px;
	display: flex;
	justify-content: center;
}

.demoMap{
	width:90%;
	height:750px;
	border:solid;
	border-radius: 10px;
}

.textHead{
	text-align:center;
	font-size:32px;
}

.searchFunction{
	position:relative;
	float:right;
	margin-right:10px;
}

.search{
	width:150px;
}


@media(max-width:1000px){
	
.dropBox{
	font-size:20px;
	width:99%;
	margin-left:1px;
}

.infoSec,.textSec{
	font-size:20px;
	width:48%;
}
	
.topSection{
	margin-bottom:150px;
}	

.search{
	width:100px;
}
}

@media(max-width:700px){
	
.dropBox{
	font-size:20px;
	width:98%;
	margin-left:0px;
}

.infoSec,.textSec{
	font-size:20px;
	width:99%;
	margin-left:0px;
}
	
.topSection{
	margin-bottom:150px;
}	

.searchFunction{
	width:100%;
	float:left;
	background-color:#8FD8D8;
}
}